---
import { Course, db } from "astro:db";
import Card from "@/components/Card.astro";
import FormCourse from "@/components/FormCourse.astro";
import Layout from "@/layouts/Layout.astro";

const courses = await db.select().from(Course);
---

<Layout title="Explore">
  <main class="container mx-auto w-full space-y-6 px-6">
    <section class="max-w-md">
      <FormCourse />
    </section>

    <section class="">
      <ul class="flex flex-wrap gap-4">
        {
          courses.map((course) => (
            <li class="max-w-sm">
              <a href={`/courses/${course.id}`}>
                <Card>
                  <span class="text-xs uppercase leading-tight">
                    {course.category}
                  </span>
                  <h4 class="text-xl font-semibold">{course.title}</h4>
                  <p class="text-sm text-neutral-500">{course.description}</p>
                </Card>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
