---
import { dbUrl } from "astro:db";
import Layout from "@/layouts/Layout.astro";
console.log(dbUrl);
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container mx-auto"></div>
  </main>
</Layout>
