---
import Layout from "@/layouts/Layout.astro";
import type { Session } from "@auth/core/types";
import { Auth, SignIn, SignOut } from "auth-astro/components";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container mx-auto">
      
    </div>
  </main>
</Layout>
