---
import Card from "@/components/card.astro";
import FeaturedList from "@/components/featured-list.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="The Learnary">
  <main class="page-container" role="main">
    <FeaturedList
      title="Most Popular Certificates"
      subtitle="Specializations and Professional Certificates"
      description="Explore our most popular programs, get job-ready for an in-demand career."
    >
        { ["https://picsum.photos/345", "https://picsum.photos/345", "https://picsum.photos/345", "https://picsum.photos/345"].map((img) =>
          <li>
            <Card>
              <div class="card__heading">
                <img src={img} alt="" />
              </div>

              <div class="card__content">
                <h4>Google Data Analytics</h4>
                <p><small>Professional Certificate</small></p>
              </div>
            </Card>
          </li>)
        }
    </FeaturedList>
  </main>
</Layout>
