---
import "@/styles/tailwind.css";
---

<main class="grid min-h-dvh place-items-center">
  <div class="rounded-lg bg-emerald-100 p-6">
    <a
      class="cursor-pointer rounded-lg bg-neutral-100 py-1 px-3 font-semibold text-neutral-900"
      href="/login/github"
    >
      Continue with GitHub
    </a>
  </div>
</main>
