---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"div">;

const { class: className, ...attrs } = Astro.props;
---

<div class:list={["rounded-xl border p-6", className]} {...attrs}>
  <slot />
</div>
