---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"div">;

const { ...attrs } = Astro.props;
---

<div class="rounded-xl border p-6" {...attrs}>
  <slot />
</div>
