---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"div">;

const { class: className, ...attrs } = Astro.props;
---

<div class:list={["card", className]} {...attrs}>
  <div class="card__header">
    <slot name="header"/>
  </div>

  <div class="card__content">
    <slot name="content"/>
  </div>

  <div class="card__footer">
    <slot name="footer">
  </div>

  <slot />
</div>

<style>
  .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1/3;
    border: 1px solid hsl(210 13.8% 88.6%);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    cursor: pointer;

    .card__header {
        padding: 0.5rem 0.5rem 0 0.5rem;
        grid-row: 1/2;

        img {
            max-width: 100%;
            aspect-ratio: var(--ratio-widescreen);
            border-radius: calc(1rem - 0.5rem);
            object-fit: cover;
            object-position: center;
        }
    }

    .card__content {
        padding: 0.5rem;
        grid-row: 2/3;
    }

    .card__footer {
        padding: 0 0.5rem 0.5rem 0.5rem;
        grid-row: 3;
    }
  }
</style>
