---
import { client } from "@/api";
import { createForm } from "simple:form";
import { z } from "zod";

const formCourse = createForm({
  title: z.string(),
  description: z.string(),
  category: z.string(),
});

const result = await Astro.locals.form.getData(formCourse);

if (result?.data) {
  await client.course.create.mutate(result.data);
  Astro.props.afterSubmit();
  // return Astro.redirect("/explore");
}
---

<form class="space-y-6" method="post">
  <label class="grid gap-1">
    Title
    <input {...formCourse.inputProps.title} />
    {result?.fieldErrors?.title?.map((error) => <p role="alert">{error}</p>)}
  </label>

  <label class="grid gap-1">
    Description
    <textarea {...formCourse.inputProps.description}></textarea>
  </label>

  <label class="grid gap-1">
    Category
    <input {...formCourse.inputProps.category} />
  </label>

  <button>Save</button>
</form>
