---
import { Image } from "astro:assets";
---

<footer class="p-4">
  <section class="grid place-items-center">
    <ul>
      <li>
        <a href="/">
          <Image
            class="w-32"
            src="/logo.svg"
            alt="The Learnary"
            width={128}
            height={32}
            loading="lazy"
          />
        </a>
      </li>
    </ul>
  </section>
</footer>
