---
import { Image } from "astro:assets";

const isAuthenticated = !!Astro.locals.user;
---

<header class="flex items-center justify-between p-4 border-b">
  <a class="" href="/">
    <span class="sr-only">The Learnary</span>
    <Image
      class="w-32"
      src="/logo.svg"
      alt="The Learnary"
      width={128}
      height={32}
      loading="eager"
    />
  </a>
  <nav>
    <ul class="flex items-center gap-4">
      <li><a href="/explore" data-variant="ghost">Explore</a></li>
      <li>
        {
          isAuthenticated ? (
            <form method="post" action="/api/logout">
              <button>Sign out</button>
            </form>
          ) : (
            <a href="/login">Sign in</a>
          )
        }
      </li>
    </ul>
  </nav>
</header>
