---

---

<header class="container mx-auto flex justify-between p-4">
  <!-- <div class="text-2xl font-bold">The Learnary</div> -->
  <img class="w-32" src="/logo.svg" alt="The Learnary" />
  <nav>
    <ul class="flex gap-4">
      <li>Explore</li>
      <li>Sign In</li>
    </ul>
  </nav>
</header>
